@font-face {
  font-family: 'PT Sans';
  font-weight: normal;
  src: url('~assets/fonts/PTSans-Regular.woff2') format('woff2'),
    url('~assets/fonts/PTSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-weight: bold;
  src: url('~assets/fonts/PTSans-Bold.woff2') format('woff2'),
    url('~assets/fonts/PTSans-Bold.woff') format('woff');
}
